<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.chezmoi.update</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/chezmoi</string>
        <string>update</string>
        <string>--no-tty</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/chezmoi-update.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/chezmoi-update.log</string>
</dict>
</plist>
